.card-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    /* padding: 0.1rem; */
    padding: 4%;
    border: 1px solid gray;
    border-radius: 5px;
    height: min-content;
}

